<ion-view class="theview">
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
      <h1 class="title">So Safe</h1>
  </ion-header-bar>

  <ion-content class='center' ng-controller='LoginController as ctrl'>
    <div class="list list-inset">

      <label class="item item-input">
        <input type="text" placeholder="user name" name="name" ng-model="user.name">
      </label>
    </div>

    <div class="list list-inset" ng-repeat="friend in ctrl.friends track by $index">
      <label class="item item-input">
        <input type="text" placeholder="Add friend" ng-model="friend.name" />
      </label>

      <button class="button button-small button-balanced" ng-if="$index == ctrl.friends.length - 1" ng-click="ctrl.addInput(friend)">
        <i class="icon ion-plus"></i>
      </button>

      <button class="button button-small button-assertive" ng-if="$index != ctrl.friends.length - 1" ng-click="removeInput($index)">
        <i class="icon ion-minus"></i>
      </button>
    </div>

    <button class="button button-block button-dark" ng-click="ctrl.login(user)">Login</button>
  </ion-content>
</ion-view>
