<div class="row text-center" ng-controller='HomeController as ctrl'>
  <div class="col">
    <button id="the_button" class="button" ng-model="ctrl.button"
                                           ng-click="ctrl.changeStatus()"
    ng-class="{ 'custombtn-base':ctrl.button === 'Are you ok?',
                'custombtn-waiting':ctrl.button === 'Waiting for response',
                'custombtn-response':ctrl.button === 'I am ok!',
                'custombtn-allok':ctrl.button === 'Everyone is ok!'}">
      {{ctrl.button}}
    </button>
  </div>
</div>
