<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">So Safe</h1>
    </ion-header-bar>

    <ion-content class="center">

        <div ng-controller="ButtonController">

          <panic-button></panic-button>


          <br></br>

          <div class='row text-center' ng-repeat='friend in friends'>
            <div class="col">
              <div class='list friend_status'>
                <a href="#" class="item item-icon-left">
                  <i class="icon ion-person-stalker">
                  </i>
                  {{friend.name}}
                  <span class="pull-right">
                  <button class="button" ng-class="{'statusnotice_waiting':friend.status === false,
                    'statusnotice_ok':friend.status === true}"></button> </span>
                </a>
              </div>
            </div>
          </div>

        </div>
    </ion-content>

</ion-view>
