<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">So Safe</h1>
    </ion-header-bar>

    <ion-content class="center">
        <ion-refresher
            pulling-text="Pull to refresh...">
        </ion-refresher>
        <div class="loader" ng-if="!myHTML">
            <ion-spinner></ion-spinner>
        </div>
        <div ng-controller="ButtonController as btnCtrl">
          <div class="row text-center">
            <div class="col">
              <button id="the_button" class="button" ng-click="btnCtrl.sendRequest()"
              ng-class="{'custombtn-base':btnCtrl.status.message === 'Are you ok?','custombtn-waiting':btnCtrl.status.message === 'Waiting for response'}"
              >{{btnCtrl.status.message}}</button>
              <button id="the_button" class="button" ng-click="btnCtrl.sendResponse()"
              ng-class="{'custombtn-base':btnCtrl.status.message === 'Are you ok?','custombtn-waiting':btnCtrl.status.message === 'Waiting for response'}"
              >{{btnCtrl.status.message}}</button>
            </div>
          </div>
        </div>
    </ion-content>

</ion-view>
