<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">So Safe</h1>
    </ion-header-bar>

    <ion-content class="center">
        <!--<ion-refresher-->
            <!--pulling-text="Pull to refresh...">-->
        <!--</ion-refresher>-->
        <!--<div class="loader" ng-if="!myHTML">-->
            <!--<ion-spinner></ion-spinner>-->
        <!--</div>-->
        <div ng-controller="ButtonController">
          <div class="row text-center">
            <div class="col">
              <button id="the_button" class="button" ng-model="status.message" ng-click="changeStatus()"
              ng-class="{'custombtn-base':status.message === 'Are you ok?',
              'custombtn-waiting':status.message === 'Waiting for response',
              'custombtn-response':status.message === 'I am
              ok!'}">{{status.message}}</button>
            </div>
          </div>

          <div class='row text-center' ng-repeat='friend in friends'>
            <div class='col'>
              <p>{{ friend.name }} has responded: {{ friend.status }}</p>
            </div>
          </div>
        </div>
    </ion-content>

</ion-view>
